.leftside{
    margin-right:;
    text-align: left !important;
    padding-left: 2%;
    padding-top: 2%;
    
       align-items: left;
       width: 400px;
       height:auto;
       float: left;

}